/* .view-story-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-height: 90vh;
    width: 60%;
    overflow-y: auto;
  } */

  .view-story-modal {
    background-color: #1a1a1a;
    margin: 15% auto;
    border: 1px solid #888;
    width: 40%;
    max-width: 500px;
    position: relative;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    height: auto;
    max-height: 80%;
    overflow-y: auto;
}

.close-send-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .close-button, .send-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  /* .send-button {
    background-color: transparent;
    color: #fff;
  } */
  

.view-story-modal img {
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);

     
}


.view-story-modal > div {
}

.view-story-modal h3 {
    color: #fff;
    text-align: left;
    padding-left: 10px;
    font-size: 1.5em;
}

.view-story-modal p {
    color: #fff;
    text-align: left;
    padding-left: 10px;
    font-size: 0.8em;
}





  .navigation {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.navigation button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}


  /* .progress-bar-container {
    width: 100%;
    background-color: #f0f0f0;
    height: 10px;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #4caf50;
} */

.progress-bar-container {
    height: 5px;
    background-color: #333;
    margin-top: 20px;
}

/* .progress-bar {
    height: 100%;
    background-color: #fff;
    width: 0;
} */
.progress-bar {
    height: 5px;
    background-color: #fff;
}

.interactions {
    display: flex;
    justify-content: space-between;
  }
  
  .bookmark-btn, .like-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
  }

