/* Home.css */

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo h1 {
    font-size: 1.5rem;
    margin: 0;
  }

  .mobile-auth-buttons{
    display: none;
  }

  .mobile-user-profile{
    display: none;
  }
  
  .auth-buttons button {
    margin-left: 20px;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .register-button {
    background-color: #FF7373; /* Pink */
    padding: 10px;
  }
  
  .login-button {
    background-color: #73ABFF; /* Blue */
    padding: 10px 20px;
  }

  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .profile-button {
    background-color: #FF7373;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    padding: 8px 20px;
    text-align: center;
    margin-right: 20px;
  }
  
  .profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .menu-button {
    background-color: #FF7373;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    padding: 8px 20px;
    text-align: center;
    margin: 0 auto;
  }

.username {
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
}

  /* HamburgerMenu.css */

  .bm-burger-button {
  position: sticky;
  width: 20px;
  height: 15px;
  right: 20px;
  top: 20px;
  z-index: 0 !important;
} 

.bm-burger-bars {
  background: #000;
}

.bm-menu-wrap {
  position: fixed;
  top: 70px !important;
}

.bm-menu {
  background: #fff;
  padding: 1.5em 1em;
  font-size: 1.15em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: fit-content !important;
}

.bm-overlay {
  display: none;
}
 
/* Modal */
.modal {
    display: block;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 15px;
  }
  
  .close {
    color: red;
    float: right;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .modal-content h2{
    margin-bottom: 40px;
  }


  .form-group{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 80%;
  }

  .password-input {
    position: relative;
  }

  .password-toggle {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  .register-submit{
    color: black;
    background-color: #73ABFF;
    border: none;
    padding: 8px 20px;
    margin: 20px;
    border-radius: 15px;
    cursor: pointer;
  }

  .error-message{
    font-size: 0.8em;
    color: red;
  }

  


  
  /* Story card styles */
  .story-cards {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 20px;
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
    scrollbar-width: none; 
  }
  
  .story-card {
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-left: 20px;
  }
  
/* User stories */
.story {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.story-content {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  /* padding-top: calc(100% * 5 / 4);  */
  /* 16:9 aspect ratio */
  overflow: hidden;
  background-color: #1a1a1a;
}

.story-content h3,
.story-content p {
  /* position: absolute; */
  /* bottom: 40px;
  left: 10px; */
  /* color: white;
  z-index: 1; */
  color: #fff;
  text-align: left;
  padding-left: 10px;

}

.story-content h3{
  font-size: 1.2em;
  margin: 0px;
}

.story-content p {
  font-size: 0.8em;
  margin-bottom: 10px;
}

.story img {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; */
  width: 100%;
  height: 70%;
  mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
}

.user-stories {
  margin-top: 20px;
}

.stories-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
  padding: 25px;
}

.edit-button {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  bottom: -40px;
  left: 40%;
  color: #000;
  z-index: 1;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.show-more-button{
  background-color: #FF7373;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
  padding: 8px 20px;
  margin: 0 auto;
}



  /* Category story styles */
  .category-stories {
    padding: 20px;
  }
  
  .category {
    margin-bottom: 20px;
  }
  
  .category h2 {
    font-size: 1.5rem;
  }
  
  .category-story {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
  }

  .no-stories {
    color: #8E8E8E;
    padding: 50px 0; /* Adjust the padding as needed */
}

@media only screen and (max-width: 600px) {
  .auth-buttons, .user-profile {
    display: none; /* Hide auth buttons on mobile */
  }

  .mobile-auth-buttons, .mobile-user-profile{
    display: block;
  }

  .mobile-auth-buttons button, .mobile-user-profile button{
    margin-left: 20px;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #FF7373;
    padding: 10px 20px;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .mobile-user-profile .bm-menu-wrap {
    display: block;
  }

  .user-info {
    display: flex !important; 
    justify-content: center;
    align-items: center;
  }

  .story-card {
    flex: 0 0 auto;
    width: 150px;
    height: 100px;
    background-color: #f0f0f0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.2rem;
  }

  .modal-content h2{
    margin-top: 40px;
    font-size: 1em;
  }

  .form-group{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .stories-list {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  #user-stories {
    display: none;
  }

  .edit-button{
    bottom: 5px;
    cursor: pointer;

  }





}

  