.story-form{
  width: 80%;
  margin: 0 auto;
}

.mobile-add-story-heading{
  display: none;
}

.form-tab {
    display: inline-block;
    cursor: pointer;
    position: relative;
  }
  
  .form-tab.active {
     border: 2px solid #73ABFF;
  }

  .form-group-add-story {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-bottom: 15px;
}
  
  .form-group-add-story label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .form-group-add-story input[type='text'],
.form-group-add-story input[type='password'],
.form-group-add-story textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.category-input-container {
  display: flex;
  align-items: center;
}

.form-group-add-story select {
  width: 100%; 
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
}

.form-group-add-story option{
  background-color: white;
}


.category-note {
  font-size: 12px;
  color: #666;
  margin-left: 10px;
  width: 75px;
}

.button-group {
  display: flex;
  justify-content: space-between; /* Align buttons on opposite sides */
  width: 80%;
  margin: 0 auto;
  align-items: center;
  margin-top: 20px;
}

.navigation-buttons {
  display: flex;
}

.next, .previous, .post-button{
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
  padding: 8px 20px;
  text-align: center;
  margin-right: 20px;
}

.previous{
  background-color: #7EFF73;
}

.next{
  background-color: #73ABFF;
}

.post-button{
  background-color: #FF7373;
}




  .cancel-form-button {
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: -5px;
  }

  @media only screen and (max-width: 600px) {
    /* .modal-content{
      width: 60% !important;
    } */
    .add-slides-text{
      display: none;
    }

    .mobile-add-story-heading{
      display: block;
      font-weight: bold;
      font-size: 1em;
    }

    .story-form{
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin-top: 20px;
      width: 100%;
    }

    .form-tabs{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: 0.6em;
    }

    .form-tab{
      margin-top: 10px;
    }

    form label{
      font-size: 0.8em;
    }

    .colon{
      display: none;
    }



    .category-note{
      display: none;
    }

    .button-group{
      justify-content: center;
    }

    .navigation-buttons{
      display: none;
    }
  }