/* EditStoryModal.css */
.add-slides-text{
    font-size: 0.6em;
    margin-right: 40px;
    margin-top: 40px;
    text-align: right;
    margin-bottom: 10px;
}


  .form-tabs {
    display: flex;
    justify-content: flex-start; 
    margin-bottom: 20px;
  }
  
  .form-tab {
    cursor: pointer;
    padding: 15px 12px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  
  .form {
    display: none;
  }
  
  .form.active {
    display: block;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    text-align: left;

  }
  
  input[type='text'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .add-form-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .add-form-button {
    margin-right: 10px;
  }
  
  .post-button {
    margin-left: 10px;
  }
  
  .cancel-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  