/* EditStoryModal.css */

  .form-tabs {
    display: flex;
  }
  
  .form-tab {
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-tab.active {
    background-color: #ccc;
  }
  
  .form {
    display: none;
  }
  
  .form.active {
    display: block;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
  }
  
  input[type='text'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .add-form-button,
  .post-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .add-form-button {
    margin-right: 10px;
  }
  
  .post-button {
    margin-left: 10px;
  }
  
  .cancel-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  